{% extends 'firstapp/basic.html' %}
{% load static %}
{% load myfilters %}
{% block title %}
{% endblock %}
{% block css %}
<style>
    body {
        background-color: #e3dada;
    }

    .main-area {
        display: flex;
        align-items: center;
    }

    .register-form {
        width: 100%;
        max-width: 580px;
        margin: auto;
        margin-top: 40px;
        padding: 20px;
        background-color: #fff;
        border-top: 5px solid #2BA977;
        border-radius: 5px;
    }

    .mainheading {
        text-align: center;
    }

    .errorlist {
        color: #ff0000;
    }

    .signup-button {
        background-color: #2BA977;
        border-color: #2BA977;
    }

    .signup-button:hover {
        background-color: #2BA977;
        border-color: #2BA977;
    }

    .signup-button:focus {
        background-color: #2BA977;
        border-color: #2BA977;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    Link has been sent to your email id.
</div>

{% endblock %}
