{% extends 'firstapp/basic.html' %}
{% load static %}
{% load myfilters %}
{% block title %}
{% endblock %}
{% block css %}
<style>
    body {
        background-color: #e3dada;
    }

    .main-area {
        display: flex;
        align-items: center;
    }

    .register-form {
        width: 100%;
        max-width: 580px;
        margin: auto;
        margin-top: 40px;
        padding: 20px;
        background-color: #fff;
        border-top: 5px solid #2BA977;
        border-radius: 5px;
    }

    .mainheading {
        text-align: center;
    }

    .errorlist {
        color: #ff0000;
    }

    .signup-button {
        background-color: #2BA977;
        border-color: #2BA977;
    }

    .signup-button:hover {
        background-color: #2BA977;
        border-color: #2BA977;
    }

    .signup-button:focus {
        background-color: #2BA977;
        border-color: #2BA977;
    }
</style>
{% endblock %}
{% block body %}
<form method="POST">{% csrf_token %}
    <div class="main-area">
        <div class="register-form">
<!--            {{ form.non_field_errors }}-->

            <h2 class="mainheading">E-Commerce</h2>
            <h6 class="mainheading">Password Reset</h6>

                {{form.as_p}}

            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </div>
</form>

{% endblock %}
